body{
   
}
.CardStyleComponent,
 .CardStyleComponent thead, 
 .CardStyleComponent tbody,
  .CardStyleComponent tfoot{
    display: block;
    position: relative;
   
}

.CardStyleComponent tr{
    display: inline-block;
    width: 30%;
    margin: 10px;
    border: 1px solid #888888;
    border-radius: 0.2cm;
    overflow: hidden;
    padding: 10px;
    max-width: 300px;
    height: 250px;
    position: relative;
}
.CardStyleComponent tr td{
    display: block;
    margin: 5px;
}
.CardStyleComponent tr td label{
    font-weight: bold;
}
.CardStyleComponent tr td[name=img]{
   float: left;
   height: 150px;
   width: 150px;
   border: #3c7ffc solid 2px;
   border-radius: 0.2cm;
   overflow: hidden;
}
.CardStyleComponent tr td img{    
    height: 150px;
    width: 150px;
 }
.toptions input[type=text]{
     width: calc(75% - 10px);
     margin: 0px;
     padding: 5px;
     display: inline-block;
     border: #aaaaaa solid 1px;
 }
.toptions input[type=button]{
    width: calc(25% - 10px);
    margin: 0px;
    padding: 5px;
    border: #3c7ffc solid 2px;
    display: inline-block;
}
.CardStyleComponent .TdOptions{
    display: block;
    width: calc(90% - 20px);
    text-align: center;
    margin-top: 10px;
    clear: left;
    position: absolute;
    bottom: 0;
    margin: 10px;
}

@media(max-width: 600px){  
    .CardStyleComponent tr{     
        width: 90%;     
        max-width: 90%;  
        display: block; 
    }
}

/* BOTONES */

.BtnAlert, .BtnPrimary, 
.BtnSuccess, .BtnSecundary
 {
    margin: 5PX;
    font-weight: bold;
    border:none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    min-width: 100px;   
    border-radius: 0.15cm;

}


.BtnPrimary {
    color: #fff;
    background-color:#007bff;
}
.BtnAlert {
    color: #fff;
    background-color: #dc3545;
}
.BtnSuccess {
    color: #fff;
    background-color: #28a745;
}
.BtnSecundary {
    color: #fff;
    background-color: #17a2b8;
}



/*MODAL STYLES*/

.ModalContent {
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 100%;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    transition: all linear 1s;
    box-shadow: 0 0px 1px 0px #000;
    z-index: 200 !important;
    overflow-y: auto;
    padding-bottom: 50px;   
}

.ContainerForm {
    display: block;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    width: 70%;
    max-height: 800px;
    overflow-y: auto;
    padding: 20px;
    min-height: 200px;
    border-radius: 5px;
}
.GroupForm{
    width: 100%;
    margin: 10px;
    overflow: hidden;
}
.GroupForm div{
    float: left;
    width: calc(50% - 10px);   
    margin: 5px;
    overflow: hidden;
    max-width: 200px;
}
.GroupForm .divControl {
    float: left;
    width: calc(50% - 10px);   
    margin: 5px;
    overflow: hidden;
}
.GroupForm .divControl input {   
    display: block;
    width: calc(100% - 10px);
    border: none;
    border-bottom: 2px solid #3c7ffc;
    padding: 5px;
}
.ImageDetail{
    width: 98%;    
    border: 2px solid #3c7ffc;
    overflow: hidden;
    border-radius: 0.2cm ;
}
@media(max-width: 600px){  
    .ModalContent {  padding-bottom: 0px;  }
    .ContainerForm { 
        width: calc(100% - 40px);
        height:  calc(100% - 40px);
        margin-top: 0px;
        border-radius: 0px;
        max-height: 2000px;        
    }
    .GroupForm .divControl {
        width: calc(100% - 10px);   
    }
}
