/*tabla estilo card*/
.CardStyleComponentSWMonster,
 .CardStyleComponentSWMonster thead, 
 .CardStyleComponentSWMonster tbody,
  .CardStyleComponentSWMonster tfoot{
    display: block;
    position: relative;
   
}

.CardStyleComponentSWMonster tr{
    display: inline-block;
    width: 30%;
    margin: 10px;
    border: 1px solid #888888;
    border-radius: 0.2cm;
    overflow: hidden;
    padding: 10px;
    max-width: 300px;
    height: 250px;
    position: relative;
}
.CardStyleComponentSWMonster tr td{
    width: calc(100% - 10px);
    display: block;
    margin: 5px;
}
.CardStyleComponentSWMonster tr td label{
    font-weight: bold;
}
.CardStyleComponentSWMonster tr td[name=img]{
   float: left; 
   margin: 10px;  
   width: 150px;
   border: #3c7ffc solid 2px;
   border-radius: 0.2cm;
   overflow: hidden;
}
.CardStyleComponentSWMonster tr td img{    
    height: auto;
    width: 100%;   
 }


 .toptions input[type=text]{
    width: calc(75% - 10px);
    margin: 0px;
    padding: 5px;
    display: inline-block;
    border: #aaaaaa solid 1px;
}
.toptions input[type=button]{
   width: calc(25% - 10px);
   margin: 0px;
   padding: 5px;
   border: #3c7ffc solid 2px;
   display: inline-block;
}
.CardStyleComponentSWMonster .TdOptions{
   display: block;
   width: calc(100% - 0px);
   text-align: center;
   clear: left;
   bottom: 0;
   left: 0;
   right: 0;
   position: absolute;
   border-top: #808080 solid 1px;
   margin-top: 10px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 10px;
}

@media(max-width: 600px){  
   .CardStyleComponentSWMonster tr{     
       width: calc(100% - 20px);  
       margin-left: 0px;
       margin-right: 0px; 
       max-width: 90%;  
       display: block; 
   }
   
}

/*TBL FORM*/
/* .TblForm{
    width: calc(50% - 20px); 
    display: block;
    float: left;
    padding: 10px;
    border: #808080 solid 1px;
    border-radius: 0.2cm;
}
@media(max-width: 600px){  
    .TblForm{     
        width: calc(100% - 20px);  
        display: block;        
    }
    
 } */

